{% extends "layouts/base.html" %}
{% load static %}

{% block title %} List of Books {% endblock %}

{% block stylesheets %}
<style>
    h1{
        color: green;
    }
    h2{
        color: lightskyblue;
    }
    p {
        font-family: verdana;
        font-size: 20px;
    }
</style>
{% endblock %}

{% block content %}

<h1>List of Books</h1>

<a href="{% url 'books.view_one_book' 1 %}">
    <h2>Internet &amp; World Wide Web How to Program</h2>
</a>

<a href="{% url 'books.view_one_book' 1 %}">
    <img src="{% static 'book1.jpg' %}" width="200" height="200" alt="Book1">
</a>

<hr>

<h2>2) C++ How to Program</h2>
<img src="{% static 'book2.jpg' %}" width="200" height="200" alt="Book2">

<hr>

<h2>3) Images in Another Folder</h2>
<img src="{% static 'book3.jpg' %}" width="200" height="200" alt="Book3">
{% endblock %}