.link1{
display:block;
padding:20px;
text-align:center;
background-color:lightgreen;
}

.link2{
display:block;
padding:20px;
text-align:center;
background-color:gray;
}

.link3{
display:block;
padding:20px;
text-align:center;
background-color:black;
color:white;
}

a:hover{
color:red;
}

a:visited{
color:purple;
}

a:active{
color:yellow;
}